* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #c2e59c;  
    background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c); 
    background: linear-gradient(to right, #64b3f4, #c2e59c);
    color: white;
    transition: all 0.5s ease;
}

span{
    color: #64b3f4;
}

header {
    background-color: #414141;
    color: white;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

header h1 {
    font-size: 24px;
    font-weight: bold;
}

.my-name{
    margin-left: 20px;
}

.sidebar-toggle {
    font-size: 30px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.5s ease;
}

.sidebar-toggle:hover {
    color: #FFD700; 
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #2C3E50;
    color: white;
    transition: left 0.5s ease;
    padding-top: 60px; 
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px 20px;
    transition: background-color 0.5s ease;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    display: block;
    transition: color 0.5s ease;
}

.sidebar ul li:hover {
    background-color: #34495E;
}

.sidebar ul li a:hover {
    color: #FFD700; 
}

.content {
    margin-left: 0;
    padding: 80px 30px 30px 30px; 
    transition: margin-left 0.5s ease;
}

.content h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.content p {
    font-size: 18px;
    line-height: 1.6;
}

.sidebar.open {
    left: 0;
}

.content.shifted {
    margin-left: 250px; 
}

a{
    color: white;
    padding-left: 15px;
    font-size: 15px;
    text-decoration: none;
}

a:hover{
    color:#FFD700;
    transition: color 0.5s ease;
}

.logout{
    margin-left: 402px;
    background-color:  #64b3f4;
    padding: 5px 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    color: white;
    width: 90px;
    height: 35px;
}

.logout:hover {
    background-color:  #3ba7ff;
}
