body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(111.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    color: white;
    
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    width: 400px;
    margin: 0 auto;
    padding: 10px 10px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
}

button {
    background: transparent;
    backdrop-filter: blur(10px);
    border: 2px solid #fefae0;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #bc6c25;
}

#summary {
    margin-top: 30px;
}

.summary-item {
    background: transparent;
    backdrop-filter: blur(10px);
    padding: 15px;
    margin: 20px;
    display: inline-block;
    text-align: left;
    width: 300px;
    border-radius: 10px;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    color: #fefae0;
}

.summary-item p {
    margin-bottom: 5px;
}

.summary-item chexkbox{
    align-items: left;
}

.summary-item button {
    background: transparent;
    backdrop-filter: blur(10px);
    color: white;
    padding: 5px 10px;
    border: 2px solid #fefae0;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
}

.summary-item button:hover {
    background-color: #bc6c25;
}

.montserrat {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    color: #fefae0;
}
.title {
    text-align: center;
}

.container{
    background: transparent;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px 5px;
    border-radius: 10px;
    width: 600px;
}

header {
    background: transparent;
    backdrop-filter: blur(10px);
    padding: 20px 0;
    text-align: center;
    width: 100%;
    height: 100px;
}
nav {
    margin: 10px 0;
}
nav a {
    color: #ffffff;
    margin: 0 20px;
    text-decoration: none;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
}