body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(111.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
}

.login-container, .signup-container {
    background: transparent;
    backdrop-filter: blur(10px);
    width: 380px;
    height: 280px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    width: 95%;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    color: white;
    padding: 10px;
    background-color: rgba(158, 33, 158, 0.808);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}

button:hover {
    background-color: rgba(255, 0, 255, 0.808);
}

.error {
    color: red;
    margin-top: 10px;
}
